.main_container{
    border: 20px yellow solid;
    
    .card_container{
        border: blue 0.5px dashed;
        
        .card{
            width: 100px;
            height: 200px;
            background-color: black;
        }
    }
}


// .card-continer .card{
//     width: 100px;
//     height: 200px;
//     background-color: red;
// }